In [1]:
#dependencies
import pandas as pd

#csv paths of original csv filtered by most recent year
csv1 = "filteredbyrecentyear/2016lifexp.csv"
csv2 = "filteredbyrecentyear/2015medage.csv"
csv3 = "filteredbyrecentyear/2017urbanaggper.csv"
csv4 = "filteredbyrecentyear/2017urbanagg1m.csv"
csv5 = "filteredbyrecentyear/2016urbangdp.csv"
csv6 = "filteredbyrecentyear/2010urbanlandareacensus.csv"

#reading csvs
life_exp = pd.read_csv(csv1)
medianage = pd.read_csv(csv2)
urbanagg1mperc = pd.read_csv(csv3)
urbanaggmorethan1m = pd.read_csv(csv4)
urbanvsgdp = pd.read_csv(csv5)
urbanlandarea = pd.read_csv(csv6)

In [2]:
#deleting the year column
del life_exp['Year']
del medianage['Year']
del urbanagg1mperc['Year']
del urbanaggmorethan1m['Year']
del urbanvsgdp['Year']
del urbanlandarea['Year']

In [3]:
#merges on country code
merged = pd.merge(life_exp,medianage,on='Code')

In [4]:
#next several cells done separately to avoid memory error due to large datasets
del merged['Entity_y']

In [5]:
merged = pd.merge(merged,urbanagg1mperc,on='Code')

In [6]:
del merged['Entity']

In [7]:
merged = merged[merged['Code'].notna()]

In [8]:
merged = pd.merge(merged,urbanaggmorethan1m,on='Code')

In [9]:
del merged['Entity']

In [10]:
merged = pd.merge(merged,urbanvsgdp,on='Code')

In [11]:
del merged['Entity']

In [12]:
merged = pd.merge(merged,urbanlandarea,on='Code')

In [13]:
del merged['Entity']

In [14]:
merged.head()

,Entity_x,Code,Lifeexpectancyatbirthtotal(years)(years),UNPopulationDivision(MedianAge)(2017)(years),Populationinurbanagglomerationsofmorethan1million(%oftotalpopulation)(%oftotalpopulation),Populationinurbanagglomerationsofmorethan1million(peoplelivinginurbanareasofmorethan1million),Shareofpopulationlivinginurbanareas(%),GDPpercapita(2011int-$)($),Totalpopulation(Gapminder),Urbanlandarea(sq.km)(squarekilometres)
0,Algeria,DZA,76.078,27.500000,6.436332,2659373,71.459,13328.0,NaN,30195.796880
1,Angola,AGO,61.547,16.400000,25.232663,7515345,64.149,8397.0,NaN,1427.029541
2,Argentina,ARG,76.577,30.799999,42.907611,18995646,91.627,18695.0,NaN,55032.203130
3,Australia,AUS,82.500,37.400002,60.670343,14924257,85.800,44783.0,NaN,36745.703130
4,Bangladesh,BGD,72.489,25.600000,14.340787,23614938,35.083,3250.0,NaN,11125.391600

In [15]:
#get rid of redundant column
del merged['Totalpopulation(Gapminder)']

In [16]:
#formatted columns
renamedmerge = merged.rename(columns={'Entity_x':'Entity','Code':'Code','Lifeexpectancyatbirthtotal(years)(years)':'Life_Expectancy(2016)',
                      'UNPopulationDivision(MedianAge)(2017)(years)':'Median_age(2017)',
                      'Populationinurbanagglomerationsofmorethan1million(%oftotalpopulation)(%oftotalpopulation)':'%_total_population_in_urban_agglomerations>million(2017)',
                      'Populationinurbanagglomerationsofmorethan1million(peoplelivinginurbanareasofmorethan1million)':'Population_in_urban_areas>million(2017)',
                      'Shareofpopulationlivinginurbanareas(%)':'%_population_in_urban_areas(2016)',
                      'Urbanlandarea(sq.km)(squarekilometres)':'Urban_Land_area(sq.km)(2010)'})

In [17]:
# Exported CSV
renamedmerge.to_csv('combinedData.csv')