In [1]:
#import dependencies
import pandas as pd

In [3]:
# read in the csv file
covid_data = pd.read_csv('merged_data_modified.csv')

In [4]:
covid_data.head()

,Unnamed: 0,Entity,Code,pop_density,gdp,total_pop,urban_pop,rural_pop,urban_pct,rural_pct,...,median_age,pdi,idv,mas,uai,ltowvs,ivr,Date,cases,days_gt_100
0,0,Albania,ALB,105.135146,10970.452245,2923352.0,1654503,1226200,57.434,42.566002,...,36.200001,90,20,80,70,61,15,9-Mar-20,2.0,NaN
1,1,Albania,ALB,105.135146,10970.452245,2923352.0,1654503,1226200,57.434,42.566002,...,36.200001,90,20,80,70,61,15,10-Mar-20,6.0,NaN
2,2,Albania,ALB,105.135146,10970.452245,2923352.0,1654503,1226200,57.434,42.566002,...,36.200001,90,20,80,70,61,15,11-Mar-20,10.0,NaN
3,3,Albania,ALB,105.135146,10970.452245,2923352.0,1654503,1226200,57.434,42.566002,...,36.200001,90,20,80,70,61,15,12-Mar-20,11.0,NaN
4,4,Albania,ALB,105.135146,10970.452245,2923352.0,1654503,1226200,57.434,42.566002,...,36.200001,90,20,80,70,61,15,13-Mar-20,23.0,NaN

In [5]:
#export to html file
covid_data.to_html('covid_data_html.html')