In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load 
file1 = "project-data/is-your-country-more-blue-or-less-green-densely-populated-than-earths-average-population-density.csv"
file2 = "project-data/population-density.csv"
file3 = "project-data/population-density-vs-prosperity.csv"
file4 = "project-data/urban-and-rural-population.csv"
# file5 = "project-data/urban-pop-in-out-of-slums.csv"
file6 = "project-data/urban-vs-rural-majority.csv"

# Read File and store into Pandas data frame
population_density = pd.read_csv(file2)
earths_population_density = pd.read_csv(file1)
density_vs_prosperity = pd.read_csv(file3)
urban_rural_population = pd.read_csv(file4)
urban_rural_percent = pd.read_csv(file6)
# urban_population_in_slums = pd.read_csv(file6)

In [17]:
# Merge data
merged_data = pd.merge(density_vs_prosperity, earths_population_density, on=["Entity", "Code", "Year"])
merged_data = pd.merge(merged_data, urban_rural_population, on=["Entity", "Code", "Year"])
# merged_data = pd.merge(merged_data, urban_population_in_slums, on=["Entity", "Code", "Year"])
merged_data = pd.merge(merged_data, urban_rural_percent, on=["Entity", "Code", "Year"])
# merged_data.head()
merged_data.to_csv('all_years.csv')

In [4]:
# #Format columns
# merged_data = merged_data.rename(columns={"Urban population living in slum households (urban population living in slums)": "Urban population living in slums", "Urban population not living in slum households (urban population not living in slums)" : "Urban population not living in slums"})
# merged_data.head()

In [14]:
# Filter by most recent year
merged_data = merged_data[merged_data["Year"] == 2014]
merged_data.info

<bound method DataFrame.info of                     Entity_x Code  Year  \
0                    Albania  ALB  2014
1                    Andorra  AND  2014
2                  Argentina  ARG  2014
3                    Armenia  ARM  2014
4                    Austria  AUT  2014
5                 Azerbaijan  AZE  2014
6                    Belarus  BLR  2014
7                    Belgium  BEL  2014
8                      Benin  BEN  2014
9                     Brazil  BRA  2014
10                    Canada  CAN  2014
11  Central African Republic  CAF  2014
12                     Chile  CHL  2014
13                  Colombia  COL  2014
14                    Cyprus  CYP  2014
15            Czech Republic  CZE  2014
16        Dominican Republic  DOM  2014
17                     Egypt  EGY  2014
18               El Salvador  SLV  2014
19                   Estonia  EST  2014
20                  Ethiopia  ETH  2014
21                   Finland  FIN  2014
22                    France  FRA  2014
23                   Georgia  GEO  2014
24                     Ghana  GHA  2014
25                   Hungary  HUN  2014
26                     India  IND  2014
27                      Iraq  IRQ  2014
28                    Israel  ISR  2014
29                     Italy  ITA  2014
30                   Jamaica  JAM  2014
31                     Japan  JPN  2014
32                    Jordan  JOR  2014
33                Luxembourg  LUX  2014
34                     Macao  MAC  2014
35                      Mali  MLI  2014
36                     Malta  MLT  2014
37                    Mexico  MEX  2014
38                  Mongolia  MNG  2014
39               New Zealand  NZL  2014
40                    Norway  NOR  2014
41                  Pakistan  PAK  2014
42                    Panama  PAN  2014
43                      Peru  PER  2014
44                    Poland  POL  2014
45                    Russia  RUS  2014
46                    Rwanda  RWA  2014
47              Saudi Arabia  SAU  2014
48               South Korea  KOR  2014
49                  Suriname  SUR  2014
50                    Sweden  SWE  2014
51                  Thailand  THA  2014
52                    Turkey  TUR  2014
53                    Uganda  UGA  2014
54                   Ukraine  UKR  2014
55            United Kingdom  GBR  2014
56             United States  USA  2014
57                 Venezuela  VEN  2014

    Population density (people per kmÂ² of land area)  \
0                                         105.441752
1                                         168.559574
2                                          15.705657
3                                         102.080084
4                                         103.563322
5                                         115.348814
6                                          46.693169
7                                         370.180218
8                                          91.226605
9                                          24.432844
10                                          3.907770
11                                          7.248053
12                                         23.689361
13                                         43.075179
14                                        124.708766
15                                        136.321034
16                                        215.397309
17                                         92.232223
18                                        303.146187
19                                         31.010734
20                                         97.366774
21                                         17.972003
22                                        121.112673
23                                         65.205221
24                                        118.495926
25                                        108.985618
26                                        435.175449
27                                         80.599742
28                                        379.653420
29                                        206.667369
30                                        264.273961
31                                        349.122230
32                                         99.226245
33                                        214.794981
34                                      19431.716172
35                                         13.901807
36                                       1357.993750
37                                         63.901644
38                                          1.882062
39                                         17.126961
40                                         14.065167
41                                        240.694086
42                                         52.515281
43                                         24.197933
44                                        124.144273
45                                          8.781877
46                                        459.884759
47                                         14.316819
48                                        520.585341
49                                          3.512359
50                                         23.805234
51                                        133.916835
52                                        100.087871
53                                        193.663166
54                                         78.150748
55                                        267.073782
56                                         34.831955
57                                         34.848793

    GDP per capita (constant 2011 international $)  \
0                                     10701.120786
1                                              NaN
2                                     18797.547947
3                                      7971.117928
4                                     44320.502013
5                                     16715.105521
6                                     17944.209846
7                                     41360.395576
8                                      2001.077289
9                                     15374.261507
10                                    43079.142525
11                                      597.135169
12                                    22195.274371
13                                    12715.967391
14                                    29786.174394
15                                    29119.616612
16                                    12663.042247
17                                     9879.799359
18                                     6890.723224
19                                    27113.685921
20                                     1424.526984
21                                    39017.537207
22                                    37523.727577
23                                     8749.156189
24                                     3868.600894
25                                    24161.425524
26                                     5385.141814
27                                    14838.382948
28                                    31702.083537
29                                    33945.843878
30                                     8051.244028
31                                    37337.317406
32                                     8622.185468
33                                    93655.334163
34                                   130755.160706
35                                     1865.160622
36                                    31846.189536
37                                    16622.597046
38                                    11348.647341
39                                    34455.331217
40                                    63419.314779
41                                     4576.227015
42                                    20017.994362
43                                    11547.834216
44                                    24347.073658
45                                    25284.586202
46                                     1629.868866
47                                    49958.443336
48                                    33425.689593
49                                    15306.692437
50                                    44167.631867
51                                    14857.202932
52                                    22401.880431
53                                     1637.275081
54                                     8243.473515
55                                    38251.792480
56                                    51921.984639
57                                    16745.021980

    Total population (Gapminder)  \
0                   2.920775e+06
1                   7.922300e+04
2                   4.298152e+07
3                   2.906220e+06
4                   8.633220e+06
5                   9.503771e+06
6                   9.484851e+06
7                   1.121916e+07
8                   1.028671e+07
9                   2.042131e+08
10                  3.560473e+07
11                  4.515392e+06
12                  1.761380e+07
13                  4.779191e+07
14                  1.152309e+06
15                  1.059853e+07
16                  1.040584e+07
17                  9.181257e+07
18                  6.281189e+06
19                  1.318359e+06
20                  9.736677e+07
21                  5.459717e+06
22                  6.419064e+07
23                  3.992346e+06
24                  2.696256e+07
25                  9.813335e+06
26                  1.293859e+09
27                  3.500608e+07
28                  7.941329e+06
29                  5.958567e+07
30                  2.862087e+06
31                  1.281629e+08
32                  8.809306e+06
33                  5.563160e+05
34                           NaN
35                  1.696285e+07
36                  4.255700e+05
37                  1.242216e+08
38                  2.923896e+06
39                  4.566700e+06
40                  5.140311e+06
41                  1.855463e+08
42                  3.903986e+06
43                  3.097335e+07
44                  3.829306e+07
45                  1.437614e+08
46                  1.134536e+07
47                  3.077672e+07
48                  5.038556e+07
49                  5.479280e+05
50                  9.689376e+06
51                  6.841677e+07
52                  7.703063e+07
53                  3.883334e+07
54                  4.488343e+07
55                  6.501569e+07
56                  3.177188e+08
57                  3.073838e+07

    Estimates, 1950 - 2015: Population density (persons per square km), as of 1 July (persons per square km)  \
0                                          106.597628
1                                          168.559574
2                                           15.705657
3                                          102.080084
4                                          104.760645
5                                          114.977026
6                                           46.744128
7                                          370.513904
8                                           91.226605
9                                           24.432844
10                                           3.915400
11                                           7.248053
12                                          23.689361
13                                          43.075179
14                                         124.708766
15                                         137.215510
16                                         215.352732
17                                          92.232223
18                                         303.146187
19                                          31.100708
20                                          97.366774
21                                          17.966096
22                                         117.230970
23                                          57.452094
24                                         118.495926
25                                         108.398708
26                                         435.175449
27                                          80.599742
28                                         366.974538
29                                         202.575875
30                                         264.273961
31                                         351.559773
32                                          99.226245
33                                         214.793822
34                                       19691.672241
35                                          13.901807
36                                        1329.906250
37                                          63.901644
38                                           1.882062
39                                          17.343435
40                                          14.072711
41                                         240.694086
42                                          52.515281
43                                          24.197933
44                                         125.046730
45                                           8.778318
46                                         459.884759
47                                          14.316819
48                                         518.210017
49                                           3.512359
50                                          23.613043
51                                         133.916835
52                                         100.087871
53                                         194.351324
54                                          77.476051
55                                         268.737594
56                                          34.733157
57                                          34.848793

    Urban population  Rural population  Urban (%)  Rural (%)         Entity_y  \
0            1630119           1258985     56.423  43.577000          Albania
1              70066              9157     88.441  11.559000          Andorra
2           39275219           3706296     91.377   8.623000        Argentina
3            1834174           1072046     63.112  36.888000          Armenia
4            4916377           3629979     57.526  42.473999          Austria
5            5189181           4345898     54.422  45.577999       Azerbaijan
6            7266287           2208224     76.693  23.306999          Belarus
7           10966157            242900     97.833   2.167000          Belgium
8            4646096           5640616     45.166  54.834000  Belgium Netherl
9          174585892          29627241     85.492  14.508000           Brazil
10          28861099           6674249     81.218  18.782000           Canada
11           1804305           2711087     39.959  60.041000    Canada French
12          15377374           2236424     87.303  12.697000            Chile
13          37953946           9837965     79.415  20.584999         Colombia
14            772404            379905     67.031  32.969002           Cyprus
15           7723921           2801426     73.384  26.615999        Czech Rep
16           8082219           2323625     77.670  22.330000    Dominican Rep
17          39331585          52480981     42.839  57.160999            Egypt
18           4326106           1955083     68.874  31.125999         Slovenia
19            897427            417118     68.269  31.731001          Estonia
20          18497740          78869034     18.998  81.001999         Ethiopia
21           4651843            809669     85.175  14.825000          Finland
22          52650998          13665094     79.394  20.606001           France
23           2126887           1600113     57.067  42.932999          Georgia
24          14403132          12559431     53.419  46.581001            Ghana
25           6928924           2937544     70.227  29.773001          Hungary
26         419003394         874855900     32.384  67.615997            India
27          24419541          10586539     69.758  30.242001             Iraq
28           7566988            648712     92.104   7.896000           Israel
29          42109853          18679287     69.272  30.728001            Italy
30           1562242           1299845     54.584  45.416000          Jamaica
31         116208079          11067921     91.304   8.696000            Japan
32           7928375            880931     90.000  10.000000           Jordan
33            500042             56277     89.884  10.116000       Luxembourg
34            588781                 0    100.000   0.000000    Macedonia Rep
35           6648757          10314089     39.196  60.804001             Mali
36            409992             24566     94.347   5.653000            Malta
37          98126368          26095232     78.993  21.007000           Mexico
38           1993015            930881     68.163  31.837000       Montenegro
39           3891014            618686     86.281  13.719000      New Zealand
40           4145335            991897     80.692  19.308001           Norway
41          66460814         119085443     35.819  64.181000         Pakistan
42           2591115           1312871     66.371  33.629002           Panama
43          23903066           7070288     77.173  22.827000             Peru
44          22960228          15051507     60.403  39.597000           Poland
45         106354643          37465023     73.950  26.049999           Russia
46           1924967           9420390     16.967  83.032997           Rwanda
47          25532369           5244353     82.960  17.040001     Saudi Arabia
48          41463573           9283086     81.707  18.292999      Korea South
49            362120            185808     66.089  33.910999         Suriname
50           8362604           1333506     86.247  13.753000           Sweden
51          32116885          36299887     46.943  53.056999         Thailand
52          56291672          20738956     73.077  26.923000           Turkey
53           8350721          30482617     21.504  78.496002           Uganda
54          31223156          14048791     68.968  31.032000          Ukraine
55          53218629          11394531     82.365  17.635000    Great Britain
56         259623192          58999333     81.483  18.517000           U.S.A.
57          27094036           3644342     88.144  11.856000        Venezuela

     pdi   idv   mas   uai      ltowvs         ivr
0    NaN   NaN   NaN   NaN   61.460957   14.508929
1    NaN   NaN   NaN   NaN         NaN   65.000000
2   49.0  46.0  56.0  86.0   20.403023   61.830357
3    NaN   NaN   NaN   NaN   60.957179         NaN
4   11.0  55.0  79.0  70.0   60.453401   62.723214
5    NaN   NaN   NaN   NaN   60.705290   21.651786
6    NaN   NaN   NaN   NaN   80.856423   14.955357
7   65.0  75.0  54.0  94.0   81.863980   56.696429
8   61.0  78.0  43.0  97.0         NaN         NaN
9   69.0  38.0  49.0  76.0   43.828715   59.151786
10  39.0  80.0  52.0  48.0   36.020151   68.303571
11  54.0  73.0  45.0  60.0         NaN         NaN
12  63.0  23.0  28.0  86.0   30.982368   68.000000
13  67.0  13.0  64.0  80.0   13.098237   83.035714
14   NaN   NaN   NaN   NaN         NaN   69.866071
15  57.0  58.0  57.0  74.0   70.025189   29.464286
16   NaN   NaN   NaN   NaN   13.098237   54.241071
17   NaN   NaN   NaN   NaN    6.801008    4.241071
18  71.0  27.0  19.0  88.0   48.614610   47.544643
19  40.0  60.0  30.0  60.0   82.115869   16.294643
20   NaN   NaN   NaN   NaN         NaN   46.000000
21  33.0  63.0  26.0  59.0   38.287154   57.366071
22  68.0  71.0  43.0  86.0   63.476071   47.767857
23   NaN   NaN   NaN   NaN   38.287154   31.919643
24   NaN   NaN   NaN   NaN    3.526448   72.321429
25  46.0  80.0  88.0  82.0   58.186398   31.473214
26  77.0  48.0  56.0  40.0   50.881612   26.116071
27   NaN   NaN   NaN   NaN   24.937028   16.741071
28  13.0  54.0  47.0  81.0   37.531486         NaN
29  50.0  76.0  70.0  75.0   61.460957   29.687500
30  45.0  39.0  68.0  13.0         NaN         NaN

In [6]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214 entries, 54 to 11882
Data columns (total 11 columns):
Entity                                                                                                      214 non-null object
Code                                                                                                        213 non-null object
Year                                                                                                        214 non-null int64
Population density (people per kmÂ² of land area)                                                            213 non-null float64
GDP per capita (constant 2011 international $)                                                              189 non-null float64
Total population (Gapminder)                                                                                191 non-null float64
Estimates, 1950 - 2015: Population density (persons per square km), as of 1 July (persons per square km)    214 non-null float64
Urban population                                                                                            214 non-null int64
Rural population                                                                                            214 non-null int64
Urban (%)                                                                                                   214 non-null float64
Rural (%)                                                                                                   214 non-null float64
dtypes: float64(6), int64(3), object(2)
memory usage: 20.1+ KB

In [7]:
# Export CSV
merged_data.to_csv('merged_noslums.csv')

In [8]:
dem_data = "project-data/six-dem.xls"

In [9]:
six_dem = pd.read_excel(dem_data)
six_dem.head()

   ctr      country   pdi   idv   mas   uai     ltowvs        ivr
0  AFE  Africa East  64.0  27.0  41.0  52.0  32.000000  40.000000
1  AFW  Africa West  77.0  20.0  46.0  54.0   9.000000  78.000000
2  ALB      Albania   NaN   NaN   NaN   NaN  61.460957  14.508929
3  ALG      Algeria   NaN   NaN   NaN   NaN  25.944584  32.366071
4  AND      Andorra   NaN   NaN   NaN   NaN        NaN  65.000000

In [10]:
six_dem = six_dem.rename(columns={'ctr':'Code', 'country':'Entity'})
six_dem.head()

  Code       Entity   pdi   idv   mas   uai     ltowvs        ivr
0  AFE  Africa East  64.0  27.0  41.0  52.0  32.000000  40.000000
1  AFW  Africa West  77.0  20.0  46.0  54.0   9.000000  78.000000
2  ALB      Albania   NaN   NaN   NaN   NaN  61.460957  14.508929
3  ALG      Algeria   NaN   NaN   NaN   NaN  25.944584  32.366071
4  AND      Andorra   NaN   NaN   NaN   NaN        NaN  65.000000

In [11]:
six_dem = six_dem[['Entity', 'Code', 'pdi', 'idv', 'mas', 'uai', 'ltowvs', 'ivr']]
six_dem.head()

        Entity Code   pdi   idv   mas   uai     ltowvs        ivr
0  Africa East  AFE  64.0  27.0  41.0  52.0  32.000000  40.000000
1  Africa West  AFW  77.0  20.0  46.0  54.0   9.000000  78.000000
2      Albania  ALB   NaN   NaN   NaN   NaN  61.460957  14.508929
3      Algeria  ALG   NaN   NaN   NaN   NaN  25.944584  32.366071
4      Andorra  AND   NaN   NaN   NaN   NaN        NaN  65.000000

In [12]:
merged_data = pd.merge(merged_data, six_dem, on=["Code"])
merged_data.head

<bound method NDFrame.head of                     Entity_x Code  Year  \
0                    Albania  ALB  2014
1                    Andorra  AND  2014
2                  Argentina  ARG  2014
3                    Armenia  ARM  2014
4                    Austria  AUT  2014
5                 Azerbaijan  AZE  2014
6                    Belarus  BLR  2014
7                    Belgium  BEL  2014
8                      Benin  BEN  2014
9                     Brazil  BRA  2014
10                    Canada  CAN  2014
11  Central African Republic  CAF  2014
12                     Chile  CHL  2014
13                  Colombia  COL  2014
14                    Cyprus  CYP  2014
15            Czech Republic  CZE  2014
16        Dominican Republic  DOM  2014
17                     Egypt  EGY  2014
18               El Salvador  SLV  2014
19                   Estonia  EST  2014
20                  Ethiopia  ETH  2014
21                   Finland  FIN  2014
22                    France  FRA  2014
23                   Georgia  GEO  2014
24                     Ghana  GHA  2014
25                   Hungary  HUN  2014
26                     India  IND  2014
27                      Iraq  IRQ  2014
28                    Israel  ISR  2014
29                     Italy  ITA  2014
30                   Jamaica  JAM  2014
31                     Japan  JPN  2014
32                    Jordan  JOR  2014
33                Luxembourg  LUX  2014
34                     Macao  MAC  2014
35                      Mali  MLI  2014
36                     Malta  MLT  2014
37                    Mexico  MEX  2014
38                  Mongolia  MNG  2014
39               New Zealand  NZL  2014
40                    Norway  NOR  2014
41                  Pakistan  PAK  2014
42                    Panama  PAN  2014
43                      Peru  PER  2014
44                    Poland  POL  2014
45                    Russia  RUS  2014
46                    Rwanda  RWA  2014
47              Saudi Arabia  SAU  2014
48               South Korea  KOR  2014
49                  Suriname  SUR  2014
50                    Sweden  SWE  2014
51                  Thailand  THA  2014
52                    Turkey  TUR  2014
53                    Uganda  UGA  2014
54                   Ukraine  UKR  2014
55            United Kingdom  GBR  2014
56             United States  USA  2014
57                 Venezuela  VEN  2014

    Population density (people per kmÂ² of land area)  \
0                                         105.441752
1                                         168.559574
2                                          15.705657
3                                         102.080084
4                                         103.563322
5                                         115.348814
6                                          46.693169
7                                         370.180218
8                                          91.226605
9                                          24.432844
10                                          3.907770
11                                          7.248053
12                                         23.689361
13                                         43.075179
14                                        124.708766
15                                        136.321034
16                                        215.397309
17                                         92.232223
18                                        303.146187
19                                         31.010734
20                                         97.366774
21                                         17.972003
22                                        121.112673
23                                         65.205221
24                                        118.495926
25                                        108.985618
26                                        435.175449
27                                         80.599742
28                                        379.653420
29                                        206.667369
30                                        264.273961
31                                        349.122230
32                                         99.226245
33                                        214.794981
34                                      19431.716172
35                                         13.901807
36                                       1357.993750
37                                         63.901644
38                                          1.882062
39                                         17.126961
40                                         14.065167
41                                        240.694086
42                                         52.515281
43                                         24.197933
44                                        124.144273
45                                          8.781877
46                                        459.884759
47                                         14.316819
48                                        520.585341
49                                          3.512359
50                                         23.805234
51                                        133.916835
52                                        100.087871
53                                        193.663166
54                                         78.150748
55                                        267.073782
56                                         34.831955
57                                         34.848793

    GDP per capita (constant 2011 international $)  \
0                                     10701.120786
1                                              NaN
2                                     18797.547947
3                                      7971.117928
4                                     44320.502013
5                                     16715.105521
6                                     17944.209846
7                                     41360.395576
8                                      2001.077289
9                                     15374.261507
10                                    43079.142525
11                                      597.135169
12                                    22195.274371
13                                    12715.967391
14                                    29786.174394
15                                    29119.616612
16                                    12663.042247
17                                     9879.799359
18                                     6890.723224
19                                    27113.685921
20                                     1424.526984
21                                    39017.537207
22                                    37523.727577
23                                     8749.156189
24                                     3868.600894
25                                    24161.425524
26                                     5385.141814
27                                    14838.382948
28                                    31702.083537
29                                    33945.843878
30                                     8051.244028
31                                    37337.317406
32                                     8622.185468
33                                    93655.334163
34                                   130755.160706
35                                     1865.160622
36                                    31846.189536
37                                    16622.597046
38                                    11348.647341
39                                    34455.331217
40                                    63419.314779
41                                     4576.227015
42                                    20017.994362
43                                    11547.834216
44                                    24347.073658
45                                    25284.586202
46                                     1629.868866
47                                    49958.443336
48                                    33425.689593
49                                    15306.692437
50                                    44167.631867
51                                    14857.202932
52                                    22401.880431
53                                     1637.275081
54                                     8243.473515
55                                    38251.792480
56                                    51921.984639
57                                    16745.021980

    Total population (Gapminder)  \
0                   2.920775e+06
1                   7.922300e+04
2                   4.298152e+07
3                   2.906220e+06
4                   8.633220e+06
5                   9.503771e+06
6                   9.484851e+06
7                   1.121916e+07
8                   1.028671e+07
9                   2.042131e+08
10                  3.560473e+07
11                  4.515392e+06
12                  1.761380e+07
13                  4.779191e+07
14                  1.152309e+06
15                  1.059853e+07
16                  1.040584e+07
17                  9.181257e+07
18                  6.281189e+06
19                  1.318359e+06
20                  9.736677e+07
21                  5.459717e+06
22                  6.419064e+07
23                  3.992346e+06
24                  2.696256e+07
25                  9.813335e+06
26                  1.293859e+09
27                  3.500608e+07
28                  7.941329e+06
29                  5.958567e+07
30                  2.862087e+06
31                  1.281629e+08
32                  8.809306e+06
33                  5.563160e+05
34                           NaN
35                  1.696285e+07
36                  4.255700e+05
37                  1.242216e+08
38                  2.923896e+06
39                  4.566700e+06
40                  5.140311e+06
41                  1.855463e+08
42                  3.903986e+06
43                  3.097335e+07
44                  3.829306e+07
45                  1.437614e+08
46                  1.134536e+07
47                  3.077672e+07
48                  5.038556e+07
49                  5.479280e+05
50                  9.689376e+06
51                  6.841677e+07
52                  7.703063e+07
53                  3.883334e+07
54                  4.488343e+07
55                  6.501569e+07
56                  3.177188e+08
57                  3.073838e+07

    Estimates, 1950 - 2015: Population density (persons per square km), as of 1 July (persons per square km)  \
0                                          106.597628
1                                          168.559574
2                                           15.705657
3                                          102.080084
4                                          104.760645
5                                          114.977026
6                                           46.744128
7                                          370.513904
8                                           91.226605
9                                           24.432844
10                                           3.915400
11                                           7.248053
12                                          23.689361
13                                          43.075179
14                                         124.708766
15                                         137.215510
16                                         215.352732
17                                          92.232223
18                                         303.146187
19                                          31.100708
20                                          97.366774
21                                          17.966096
22                                         117.230970
23                                          57.452094
24                                         118.495926
25                                         108.398708
26                                         435.175449
27                                          80.599742
28                                         366.974538
29                                         202.575875
30                                         264.273961
31                                         351.559773
32                                          99.226245
33                                         214.793822
34                                       19691.672241
35                                          13.901807
36                                        1329.906250
37                                          63.901644
38                                           1.882062
39                                          17.343435
40                                          14.072711
41                                         240.694086
42                                          52.515281
43                                          24.197933
44                                         125.046730
45                                           8.778318
46                                         459.884759
47                                          14.316819
48                                         518.210017
49                                           3.512359
50                                          23.613043
51                                         133.916835
52                                         100.087871
53                                         194.351324
54                                          77.476051
55                                         268.737594
56                                          34.733157
57                                          34.848793

    Urban population  Rural population  Urban (%)  Rural (%)         Entity_y  \
0            1630119           1258985     56.423  43.577000          Albania
1              70066              9157     88.441  11.559000          Andorra
2           39275219           3706296     91.377   8.623000        Argentina
3            1834174           1072046     63.112  36.888000          Armenia
4            4916377           3629979     57.526  42.473999          Austria
5            5189181           4345898     54.422  45.577999       Azerbaijan
6            7266287           2208224     76.693  23.306999          Belarus
7           10966157            242900     97.833   2.167000          Belgium
8            4646096           5640616     45.166  54.834000  Belgium Netherl
9          174585892          29627241     85.492  14.508000           Brazil
10          28861099           6674249     81.218  18.782000           Canada
11           1804305           2711087     39.959  60.041000    Canada French
12          15377374           2236424     87.303  12.697000            Chile
13          37953946           9837965     79.415  20.584999         Colombia
14            772404            379905     67.031  32.969002           Cyprus
15           7723921           2801426     73.384  26.615999        Czech Rep
16           8082219           2323625     77.670  22.330000    Dominican Rep
17          39331585          52480981     42.839  57.160999            Egypt
18           4326106           1955083     68.874  31.125999         Slovenia
19            897427            417118     68.269  31.731001          Estonia
20          18497740          78869034     18.998  81.001999         Ethiopia
21           4651843            809669     85.175  14.825000          Finland
22          52650998          13665094     79.394  20.606001           France
23           2126887           1600113     57.067  42.932999          Georgia
24          14403132          12559431     53.419  46.581001            Ghana
25           6928924           2937544     70.227  29.773001          Hungary
26         419003394         874855900     32.384  67.615997            India
27          24419541          10586539     69.758  30.242001             Iraq
28           7566988            648712     92.104   7.896000           Israel
29          42109853          18679287     69.272  30.728001            Italy
30           1562242           1299845     54.584  45.416000          Jamaica
31         116208079          11067921     91.304   8.696000            Japan
32           7928375            880931     90.000  10.000000           Jordan
33            500042             56277     89.884  10.116000       Luxembourg
34            588781                 0    100.000   0.000000    Macedonia Rep
35           6648757          10314089     39.196  60.804001             Mali
36            409992             24566     94.347   5.653000            Malta
37          98126368          26095232     78.993  21.007000           Mexico
38           1993015            930881     68.163  31.837000       Montenegro
39           3891014            618686     86.281  13.719000      New Zealand
40           4145335            991897     80.692  19.308001           Norway
41          66460814         119085443     35.819  64.181000         Pakistan
42           2591115           1312871     66.371  33.629002           Panama
43          23903066           7070288     77.173  22.827000             Peru
44          22960228          15051507     60.403  39.597000           Poland
45         106354643          37465023     73.950  26.049999           Russia
46           1924967           9420390     16.967  83.032997           Rwanda
47          25532369           5244353     82.960  17.040001     Saudi Arabia
48          41463573           9283086     81.707  18.292999      Korea South
49            362120            185808     66.089  33.910999         Suriname
50           8362604           1333506     86.247  13.753000           Sweden
51          32116885          36299887     46.943  53.056999         Thailand
52          56291672          20738956     73.077  26.923000           Turkey
53           8350721          30482617     21.504  78.496002           Uganda
54          31223156          14048791     68.968  31.032000          Ukraine
55          53218629          11394531     82.365  17.635000    Great Britain
56         259623192          58999333     81.483  18.517000           U.S.A.
57          27094036           3644342     88.144  11.856000        Venezuela

     pdi   idv   mas   uai      ltowvs         ivr
0    NaN   NaN   NaN   NaN   61.460957   14.508929
1    NaN   NaN   NaN   NaN         NaN   65.000000
2   49.0  46.0  56.0  86.0   20.403023   61.830357
3    NaN   NaN   NaN   NaN   60.957179         NaN
4   11.0  55.0  79.0  70.0   60.453401   62.723214
5    NaN   NaN   NaN   NaN   60.705290   21.651786
6    NaN   NaN   NaN   NaN   80.856423   14.955357
7   65.0  75.0  54.0  94.0   81.863980   56.696429
8   61.0  78.0  43.0  97.0         NaN         NaN
9   69.0  38.0  49.0  76.0   43.828715   59.151786
10  39.0  80.0  52.0  48.0   36.020151   68.303571
11  54.0  73.0  45.0  60.0         NaN         NaN
12  63.0  23.0  28.0  86.0   30.982368   68.000000
13  67.0  13.0  64.0  80.0   13.098237   83.035714
14   NaN   NaN   NaN   NaN         NaN   69.866071
15  57.0  58.0  57.0  74.0   70.025189   29.464286
16   NaN   NaN   NaN   NaN   13.098237   54.241071
17   NaN   NaN   NaN   NaN    6.801008    4.241071
18  71.0  27.0  19.0  88.0   48.614610   47.544643
19  40.0  60.0  30.0  60.0   82.115869   16.294643
20   NaN   NaN   NaN   NaN         NaN   46.000000
21  33.0  63.0  26.0  59.0   38.287154   57.366071
22  68.0  71.0  43.0  86.0   63.476071   47.767857
23   NaN   NaN   NaN   NaN   38.287154   31.919643
24   NaN   NaN   NaN   NaN    3.526448   72.321429
25  46.0  80.0  88.0  82.0   58.186398   31.473214
26  77.0  48.0  56.0  40.0   50.881612   26.116071
27   NaN   NaN   NaN   NaN   24.937028   16.741071
28  13.0  54.0  47.0  81.0   37.531486         NaN
29  50.0  76.0  70.0  75.0   61.460957   29.687500
30  45.0  39.0  68.0  13.0         NaN         NaN

In [13]:
merged_data.to_csv('new_merged_noslums.csv')